@tailwind base;
@tailwind components;
@tailwind utilities;
.home-img {
  background-image: url("https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-img h1 {
  text-shadow: 3px 3px 15px skyblue;
}
.home-img form input {
  box-shadow: 3px 3px 30px white;
}
